<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        {% block css %}
        <link href="../static/tyylit.css" rel="StyleSheet" type="text/css" />
        {% endblock %}
        {% block scripts %}{% endblock %}
        <title>{% block title %}Paska{% endblock %}</title>
    </head>
    <div class="topnav">
        <a id="naveka" href="{{ url_for('budjetti') }}">Budjetti</a>
        <a href="{{ url_for('pokeri') }}">Pokerilaskurit</a>
        <a href="{{ url_for('pokeridata') }}">Pokeridata</a>
        <a href="{{ url_for('fclaiva') }}">FC-laivojen gilin jako</a>
        <a id="navvika" href="{{ url_for('logout') }}">Kirjaudu ulos</a>
    </div>
    <body>
        <div id="content">{% block content %}{% endblock %}</div>
    </body>
</html>