{% extends "layout.html" %}
<!DOCTYPE html>
<html lang="fi">
  <head>
  {% block title %}Pokeridata{% endblock %}
  {% block scripts %}
  <script src="../static/pokeri.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  {% endblock %}
  </head>
  <body>
  {% block content %}
    <div class="datadivi">
        <h3 id="valittudataotsikko">Kokonaistiedot</h3>
        <p>Valitse näytettävät tiedot:</p>
        <div id="tietovalinta" class="tietovalinta">
            <label for="naytatyyppi">Pelityyppi: <select id="naytatyyppi">
                {% for tyyppi in pelityypit %}
                    <option value="{{ tyyppi }}">{{ tyyppi }}</option>
                {% endfor %}
            </select></label>
            <label for="naytanimi">Nimi: <select id="naytanimi">
                {% for nimi in nimet %}
                    <option value="{{ nimi }}">{{ nimi }}</option>
                {% endfor %}
            </select></label>
            <label for="alkupvm">Ajanjakso: <input type="date" id="alkupvm"/>
            <label for="loppupvm">-<input type="date" id="loppupvm"/></label></label>
        </div>
        <p>
            {% for key, value in palkinnot.items() %}
                {% if value > 0 %}
                    Palkinto {{ key }} yhteensä: <b>{{ value }}</b><br>
                {% endif %}
            {% endfor %}
        </p>
        <p>Kaikki palkinnot yhteensä: <b>{{ rahat["palkintorahat"] }}</b></p>
        <p>Näytä kaikki pelit tietoineen: <input type="submit" value="Näytä" id="naytanappi" onclick="naytaKaikki();"/></p>
        <ul hidden="hidden" id="kaikkitiedot">
            {% for key, value in tiedot.items() %}
            <li>Peli<ul>
                {% for i, j in value.items() %}
                <li>{{ i }}: {{ j }}</li>
                {% endfor %}
            </ul></li>
            {% endfor %}
        </ul>
    </div>
    <div class="uusipeli" id="uusipelicontainer">
        <input type="submit" name="uusipelinappi" id="lisaauusipeli"
        value="Lisää uusi peli" onclick="lisaaPeli();"/>
        <div id="lisaapelikentat" class="pelitiedot">

        </div>
    </div>
  {% endblock %}
  </body>
</html>