{% extends "layout.html" %}
<!DOCTYPE html>
<html lang="fi">
  <head>
  {% block title %}Pokeridata{% endblock %}
  </head>
  <body>
  {% block content %}
    <div class="datadivi">
        <h3 id="valittudataotsikko">Valitse näytettävät tiedot:</h3>
        <div id="tietovalintatausta">
        <div id="tietovalinta" class="tietovalinta">
            <label for="naytatyyppi"><b>Pelityyppi: </b><select id="naytatyyppi">
                <option value="Kaikki">Kaikki</option>
                {% for tyyppi in pelityypit %}
                    <option value="{{ tyyppi }}">{{ tyyppi }}</option>
                {% endfor %}
            </select></label>
            <label for="naytanimi"><b>Nimi: </b><select id="naytanimi">
                <option value="Kaikki">Kaikki</option>
                {% for nimi in nimet %}
                    <option value="{{ nimi }}">{{ nimi }}</option>
                {% endfor %}
            </select></label>
            <label for="alkupvm"><b>Ajanjakso: </b><input type="date" id="alkupvm"/>
            <label for="loppupvm">-<input type="date" id="loppupvm"/></label></label>
            <label for="naytasisaanosto"><b>Sisäänosto: </b><select id="naytasisaanosto">
                <option value="Kaikki">Kaikki</option>
                {% for osto in ostot %}
                    <option value="{{ osto }}">{{ osto }}</option>
                {% endfor %}
            </select>
            <select id="naytaostovaluutta">
                <option value="Kaikki">Kaikki</option>
                {% for ovaluutta in ostovaluutat %}
                    <option value="{{ ovaluutta }}">{{ ovaluutta }}</option>
                {% endfor %}
            </select><b>valuutassa</b></label>
            <label for="naytavoitot"><b>Näytä vain voittoisat pelit: </b>
            <input type="checkbox" id="naytavoitot" class="pokeribox"/>
            <select id="naytavoitotvaluutta">
                <option value="Kaikki">Kaikki</option>
                {% for pvaluutta in palkintovaluutat %}
                    <option value="{{ pvaluutta }}">{{ pvaluutta }}</option>
                {% endfor %}
            </select><b>valuutassa</b></label>
            <button id="naytatiedotnappi" value="nayta" onclick="naytaTiedot();">Näytä</button>
            <p class="virhe" id="tietohakupvmvirhe"></p>
        </div>
        </div>
        <h2>Pelien tiedot</h2>
        <div id="palkintokentta">
            {% for key, value in palkinnot.items() %}
                {% if value > 0 %}
                    {% if key == "€" %}
                    Palkinto {{ key }} yhteensä:
                    <b>{{ value }}{{ key }}</b><br>
                    {% elif key == "liput" %}
                    Palkintoliput yhteensä:
                    <b>{{ value }}</b><br>
                    {% else %}
                    Palkinto {{ key }} yhteensä:
                    <b>{{ key }}{{ value }}</b><br>
                    {% endif %}
                {% endif %}
            {% endfor %}
        </div>
        <div id="kaikkipalkinnot"><br>Kaikki palkinnot yhteensä: <b>{{ rahat["palkintorahat"] }}</b></div>
        <br>
        <div id="sisaanostokentta">
            {% for key, value in kulut.items() %}
                {% if value > 0 %}
                    {% if key == "€" %}
                    Sisäänosto {{ key }} yhteensä:
                    <b>{{ value }}{{ key }}</b><br>
                    {% elif key == "liput" %}
                    Sisäänostoliput yhteensä:
                    <b>{{ value }}</b><br>
                    {% else %}
                    Sisäänosto {{ key }} yhteensä:
                    <b>{{ key }}{{ value }}</b><br>
                    {% endif %}
                {% endif %}
            {% endfor %}
        </div>
        <div id="kaikkisisaanostot"><br>Kaikki sisäänostot yhteensä: <b>{{ rahat["ostot"] }}</b></div>
        <div id="voittotappio">
            <h2>Voitto/tappio dollareissa:</h2>
            {% if palkinnot["$"] >= kulut["$"] %}
                Voittoa yhteensä ${{ palkinnot["$"] - kulut["$"] }}
            {% else %}
                Tappiota yhteensä ${{ kulut["$"] - palkinnot["$"] }}
            {% endif %}
            <br>
            <h2>Voitto/tappio kaikilla valuutoilla:</h2>
            {% if rahat["ostot"] <= rahat["palkintorahat"] %}
                Voittoa yhteensä {{ rahat["palkintorahat"] - rahat["ostot"] }}
            {% else %}
                Tappiota yhteensä {{ rahat["ostot"] - rahat["palkintorahat"] }}
            {% endif %}
        </div>
        <p id="pelimaara">Pelejä yhteensä {{ pelimaara }}</p>
        <p>Näytä pelit tietoineen: <input type="submit" value="Näytä" id="naytanappi" onclick="naytaKaikki();"/></p>
        <ul hidden="hidden" id="kaikkitiedot">
            {% for key, value in tiedot.items() %}
            <li>Peli<ul>
                {% for i, j in value.items() %}
                    <li>{{ i }}: {{ j }}</li>
                {% endfor %}
            </ul></li>
            {% endfor %}
        </ul>
        <div id="haravoidutrahat">Kaikista peleistä haravoidut rahat:
        <ul>
            <li>Haravoidut dollarit ${{ haravakentat["haravasumma"] }}</li>
            <li>Haravoidut lippudollarit ${{ haravakentat["haravaliput"] }}</li>
            <li>Haravoitu yhteensä ${{ haravakentat["haravakoko"] }}</li>
        </ul>
        </div>
    </div>
    <div class="uusipeli" id="uusipelicontainer">
        <input type="submit" name="uusipelinappi" id="lisaauusipeli"
        value="Lisää uusi peli" onclick="lisaaPeli();"/>
        <div id="lisaapelikentat" class="pelitiedot">

        </div>
    </div>
  {% endblock %}
  </body>
</html>